*.o
*.s
*.elf
*.out
*.hex
*.eep
*.map
*.lst
*.gch
*#
*~
.#*
.*~
docs11/
docs12/
*.ICNS
Icon?
__MACOSX
.DS_Store
Thumbs.db
FRC2012/build
FRC2012/j2meclasses
FRC2012/suite
FRC2012/build.xml
FRC2012/build.properties