<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.windriver.ide.launch.vxworks6.tmRunTask">
<booleanAttribute key="com.windriver.ide.launch.attachSpawned" value="false"/>
<listAttribute key="com.windriver.ide.launch.downloads">
<listEntry value="1;true;/BuiltinDefaultCode/PPC603gnu/BuiltinDefaultCode/Debug/BuiltinDefaultCode.out;false;true;-plugin:nounload"/>
</listAttribute>
<stringAttribute key="com.windriver.ide.launch.processArgs" value=""/>
<stringAttribute key="com.windriver.ide.launch.processBreakAtSymbol" value=""/>
<booleanAttribute key="com.windriver.ide.launch.processBreakOnEntry" value="true"/>
<stringAttribute key="com.windriver.ide.launch.processExecPath" value=""/>
<mapAttribute key="com.windriver.ide.launch.processOptions"/>
<intAttribute key="com.windriver.ide.launch.processPriority" value="100"/>
<stringAttribute key="com.windriver.ide.launch.processStackSize" value=""/>
<listAttribute key="com.windriver.ide.launch.projectsForBuild">
<listEntry value="BuiltinDefaultCode"/>
</listAttribute>
<stringAttribute key="com.windriver.ide.launch.targetConnection" value="{_map_;name;VxWorks6x_10.37.29.2;type;Wind River Target Server Connection;version;0.6;wtxProtocolVersion;4;user;Developer;private;true;tgtsrv.args;-V -R C:/WindRiver/workspace -RW -Bt 3 -A 10.37.29.2;wrs.platform;vxworks-6.3;wrs.subtype;vxworks;generic;{_map_;NAME_MAPPING;[*\;*.unstripped],[*\;*];isFetchTargetStateOnConnect;false;listenToStartExitEvents;true;Breakpoint.default.stopScope;stop-triggering;targetStateUpdateStrategy;manual;periodicRefreshDelayInSeconds;15;PATH_MAPPING;[boothost:\;]d,[/tgtsvr/\;C:\\WindRiver\\workspace\\]d,[\;]d;isFetchTargetStateOnStop;false;DEVICE;WTX_VXWORKS;isFetchTargetStateOnRun;false;}transient;{_map_;transient.hostdevice.default;boothost:;}regHost;localhost;regKey;Developer_1296932393078;}"/>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
</launchConfiguration>
